.spotify {
  background-color: rgba(9,9,11,0.5);
  border-radius: 10px;
}
.w_spotify {
 // border: 2px solid red;
}
.btn-control {
  color: white;
  font-size: 2em;
  margin: 0 10px
}

.btn-pause {
  font-size: 3em;
}

.title {
  color: white;
}
