dolphinrc
yay/
dconf/
pulse/
kde.org/
systemd/
powerlevel10k/
gitmoji-nodejs/
mimeapps.list
configstore/
htop/
gtk-3.0/
baloofileinformationrc
filetypesrc
session/
nextjs-nodejs/
create-next-app-nodejs/

